<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alipay.dao.mapper.OpenApiAuthMapper">
    <resultMap id="BaseResultMap" type="com.alipay.dao.po.OpenApiAuthPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="access_key" jdbcType="VARCHAR" property="accessKey"/>
        <result column="secret_key" jdbcType="VARCHAR" property="secretKey"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , gmt_create, gmt_modified, user_id, access_key, secret_key, remark
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from open_api_auth
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findByAccessKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM open_api_auth
        WHERE access_key = #{accessKey,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from open_api_auth
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.alipay.dao.po.OpenApiAuthPO">
        insert into open_api_auth (id, gmt_create, gmt_modified,
                                   user_id, access_key, secret_key,
                                   remark)
        values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
                #{userId,jdbcType=VARCHAR}, #{accessKey,jdbcType=VARCHAR}, #{secretKey,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.alipay.dao.po.OpenApiAuthPO">
        insert into open_api_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="accessKey != null">
                access_key,
            </if>
            <if test="secretKey != null">
                secret_key,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="accessKey != null">
                #{accessKey,jdbcType=VARCHAR},
            </if>
            <if test="secretKey != null">
                #{secretKey,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.alipay.dao.po.OpenApiAuthPO">
        update open_api_auth
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="accessKey != null">
                access_key = #{accessKey,jdbcType=VARCHAR},
            </if>
            <if test="secretKey != null">
                secret_key = #{secretKey,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alipay.dao.po.OpenApiAuthPO">
        update open_api_auth
        set gmt_create   = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            user_id      = #{userId,jdbcType=VARCHAR},
            access_key   = #{accessKey,jdbcType=VARCHAR},
            secret_key   = #{secretKey,jdbcType=VARCHAR},
            remark       = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findOne" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM open_api_auth
        WHERE user_id = #{userId}
    </select>

</mapper>